#sub-nav {
  font-size: 24px;
  padding: 20px 0;
}

#sub-nav h4 {
  font-size: 20px;
}

#sub-nav li {
  float: left;
  display: inline;
}

#sub-nav a {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 0 8px;
  margin: 0 15px 0 0;
  display: block;
  text-decoration: none;
}

#sub-nav a:hover {
  background: #777777;
  color: white;
}

#sub-nav .selected a {
  background: #aaaaaa;
  color: white;
}
