/* line 4, ../../../app/sass/common/util.sass */
.spacer20 {
  margin: 0 0 20px !important;
}

/* line 7, ../../../app/sass/common/util.sass */
.spacer40 {
  margin: 0 0 40px !important;
}

/* line 10, ../../../app/sass/common/util.sass */
.center {
  margin-right: auto;
  margin-left: auto;
}

/* line 14, ../../../app/sass/common/util.sass */
.align-c {
  text-align: center;
}

/* line 17, ../../../app/sass/common/util.sass */
.align-r {
  text-align: right;
}

/* line 20, ../../../app/sass/common/util.sass */
.float-l {
  float: left;
  display: inline;
}

/* line 23, ../../../app/sass/common/util.sass */
.float-r {
  float: right;
  display: inline;
}

/* line 27, ../../../app/sass/common/util.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 34, ../../../app/sass/common/util.sass */
.clearfix {
  display: inline-block;
}

/* line 38, ../../../app/sass/common/util.sass */
* html .clearfix {
  height: 1%;
}

/* line 41, ../../../app/sass/common/util.sass */
.clearfix {
  display: block;
}

/* line 44, ../../../app/sass/common/util.sass */
.hidden {
  display: none;
}

/* line 47, ../../../app/sass/common/util.sass */
.trans {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 50, ../../../app/sass/common/util.sass */
.btn {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -pie-lazy-init: true;
  behavior: url(/PIE.htc);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  -pie-lazy-init: true;
  behavior: url(/PIE.htc);
  background-color: #eeeeee;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), color-stop(100%, #aaaaaa));
  background: -moz-linear-gradient(top, #eeeeee, #aaaaaa 100%);
  background: linear-gradient(top, #eeeeee, #aaaaaa 100%);
  -pie-background: linear-gradient(#eeeeee, #aaaaaa);
  -pie-lazy-init: true;
  behavior: url(/PIE.htc);
  font-family: Georgia;
  font-weight: lighter;
  color: #333333;
  font-size: 14px;
  line-hight: 14px;
  padding: 5px 8px;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  filter: Shadow(Color=white, Direction=180, Strength=1);
}

/* line 53, ../../../app/sass/common/util.sass */
.btn-down {
  -webkit-box-shadow: inset 0 0 10px 3px #555555;
  -moz-box-shadow: inset 0 0 10px 3px #555555;
  box-shadow: inset 0 0 10px 3px #555555;
}
